#editor_box {
    margin: 5%;
    margin-bottom: 0px;
}

#editor_box > * {
    display: block;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

#editor_box label {
    display: none;
}

#editor_box_meta {
    display: flex;
    justify-content: space-between;
}

@keyframes pullup {
    0% {
        transform: perspective(15px) rotateX(2deg) scaleX(0.92);
        opacity: 0.1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes pulldown {
    0% {
        transform: perspective(15px) rotateX(-2deg) scaleX(0.92);
        opacity: 0.1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.pullup {
    animation-name: pullup;
    animation-duration: 0.5s;
}

.pulldown {
    animation-name: pulldown;
    animation-duration: 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events:none;
}

#editor_box_title {

}

#editor_box_meta .one_third {
    width: 33%;
}

.editor-box-error.editor-box-no-content {
    color: white;
    text-align: center;
    background: red;
    padding: 3px;
    border: 1px solid red;
}

#editor_box_add_image {
    margin: 5%;
    margin-top: 0px;
}

#editor_box_add_image > * {
    width: 100%;
    display: block;
}

#ebox_image_select {
    display: none;
}