#editor_box {
    margin: 5%;
    margin-bottom: 0px;
}

#editor_box > * {
    display: block;
    width: 100%;
    margin: 0px 0px 5px 0px;
}

#editor_box label {
    display: none;
}

#editor_box_meta {
    display: flex;
    justify-content: space-between;
}

#editor_box_meta .one_third {
    width: 33%;
}

#editor_box_add_image {
    margin: 5%;
    margin-top: 0px;
}

#editor_box_add_image > * {
    width: 100%;
    display: block;
}

#ebox_image_select {
    display: none;
}